
body, h2, fieldset, label, textarea, input {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    padding: 0 10px;
    background-color: #f4f4f4;
}


h2 {
    text-align: center;
    color: #333;
    margin-top: 20px;
}

form {
    max-width: 800px;
    margin: 20px auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(54, 52, 52, 0.1);
}

fieldset {
    border: 1px solid #ddd;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
}

legend {
    font-weight: bold;
    padding: 0 10px;
    color: #312e44;
}


label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

textarea, input[type="text"], input[type="email"], input[type="tel"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

textarea {
    resize: vertical;
    min-height: 100px;
}
button {
    background-color: #528183;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #4cae4c;
}


@media (max-width: 600px) {
    body {
        padding: 0 5px;
    }

    form {
        padding: 10px;
    }

    textarea {
        min-height: 80px;
    }

    button {
        width: 100%;
    }
}
